<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.joinmastodon.android">

	<uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

	<application>
		<provider
			android:authorities="${applicationId}.self_update_provider"
			android:name=".updater.SelfUpdateContentProvider"
			android:grantUriPermissions="true"
			android:exported="false"/>
	</application>

</manifest>
